.sitenav {
    --textLinkColor: #1E1F44;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 70px;
    z-index: 1;
}

.sitenav__container{
    position: relative;
    width: 100%;
    max-width: 1270px;
    padding: 0 10x;
    margin: 0 auto;
}

.sitenav__content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;
    font-size: 16px;
    align-content: center;
}

.sitenav__logo{
    display: inline-block;
    width: 125px;
    height: 24px;
    background-image: url("https://www.addthis.com/dietsite-assets/images/nav/logo.svg");
    background-repeat: no-repeat;
    background-size: 125px 24px;
    background-position: 0 0;
    text-indent: -10em;
    margin-right: auto;
    overflow: hidden;
    -webkit-transition: none;
    transition: none;
    cursor: pointer;
}